/* to know:
zoom ?
position
overflow ?
z-index
*/

/*  todo
1 tile tag  have different color from content
*/

.clearfix {
    clear:both; /* affect float, and height calculation. comment it out to see its effect*/
}

html {
}

body {
    /*background-color: #ededef; */   /* --------*/
    background: url(../images/body.png) repeat-x;
    text-align: center;  /* it works to center content */
    color: #444;
}

div#header {
    position: relative;
    height: 82px;
    margin-bottom: 30px;
    font-size: 12px;
    /* color: #444;  /* font color, in 163, it seems it's body text color */
    width: 928px;
    margin: 0 auto;
    /*background: #70DB93;*/
}

p#site-title {
    /*float: left;*/
    /*width: 240px;*/
    /*height: 44px;*/
    position: absolute;
    margin: 0;
    padding: 0;
    color: red;
    font-size: 18px;
    font-weight: 800;
    /*background: white;*/
    color: #dfdfdf;
}

p#site-subtitle {
    /*float: left;*/
    /*width: 240px;*/
    /*height: 44px;*/
    position: absolute;
    top: 26px;
    left: 18px;
    margin: 0;
    padding: 0;
    color: red;
    font-size: 9px;
    font-weight: 300;
    font-style: italic;
    /*background: white;*/
    color: #dfdfdf;
}

div#nav-search {
    /*background: red;*/
    position: absolute;
    bottom: 10px;
    right: 0px;
    float: right;
    margin: 40px 0 0;
}

ul#nav {
    /*display: inline;*/
    /* color: rgb(68, 68, 68); */ /* same as #444*/
    margin-right: 266px;
}

ul#nav li {
    display: inline-block;
    margin-left: 25px;
}

ul#nav a {
    color: #dfdfdf;
    text-decoration: none;
    font-size: 14px;
}

div#main-content {
    width: 928px;
    text-align: left; /* make text left-aligned */
    margin: 0 auto; /* make content central */
}

div#left-col {
    float: left;
    width: 674px;
    /*background: #ADD8E6;*/
}

div.post-preview {
    margin: 0 0 16px;
    overflow: hidden;     /* ?????   why it important */  /* like clear */
}

p.pp-timedate {
    float: left;
    background: #FCFCFC;
    width: 45px;
    /*height: 45px;*/
    margin:0;
    text-align: center;
    padding-top: 3px;
    /*display: table-cell;
    vertical-align: 50%;*/
}

/*div.pp-timedate img {
    width: 45px;
}*/

div.pp-main {
    float: right;
    width: 618px;
    background: #fff;


}

div.pp-main-wrapper {
    padding: 8px 28px 28px 16px;
}

div.pp-main .pp-title {
    line-height: 19px
    font-size: 14px;
    margin: 0 0 16px;
}

div.pp-main .pp-title  a{
    color: #888;
    text-decoration: none;
    
}

div.pp-main .pp-content {
    width: 100%;
    line-height: normal;
    font-size: 14px;
    overflow: hidden;     /* ?????   why it important */
    background: #FF8C00;
}

div.pp-main .pp-content .pp-image {
    float: left;
    width: 164px;
    margin: 0 25px 5px 0;
}

div.pp-main .pp-content .pp-image img {
    width: 164px;
}

div.pp-bottom-bar {
    height: 19px;      
    margin: 11px 0 0;
    line-height: 19px;   /* ??? */
    color: #aaa;
    position: relative;
    background: #FFB6C1;
    
}

div.pp-tags {
    float: left;
    height: 19px;
    background: url(../images/icons.png) no-repeat 0 -103px;
}

div.pp-tags a{
    color: #aaa; /* todo put same color together */
    cursor: pointer;  /* ??? */
    text-decoration: none;
    margin-left: 18px;   
}

div.pp-comments {
    float:right;
}

div.pp-comments a{
    text-decoration: none; /* put same value together */
    color: #aaa;
    margin-right: 18px;
}

div#right-col {
    float: right;
    width: 230px;
    background: rgb(241, 241, 241);
    color: rgb(68, 68, 68);
}

div#footer {
    margin-top: 18px;
    border-top: 1px solid #838B83;
    color: #aaa;
    font-size: 8px;
}