
div#main-content {
    width: 938px;
    text-align: left;
    margin: 0 auto;
}

div#left-col {
    float: left;
    width: 684px;
}

div.post-preview {
    margin: 0 0 16px;
    overflow: hidden;     /* works like clear */
}

div.pp-timedate {
    position: relative;
    float: left;
    width: 55px;
    height: 55px;
    margin:0;
    background: url(../images/date-icon.png);
    background-size: 55px 55px;
}

div.pp-timedate p {
    color: #888;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size:9px;
    text-align: center;
} /* TODO: test in firefox, safari, chrome */

div.pp-main, div.pp-main-short {
    float: right;
    width: 618px;
    background: #fff;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px; 
}

div.pp-main-short {
    border-bottom: 2px solid #FFD2BF;
    border-right: 3px solid #FFD2BF;
}

div.pp-main-wrapper {
    padding: 8px 28px 28px 16px;
}

.pp-title {
    line-height: 19px
    font-size: 14px;
    margin: 0 0 16px;
}

.pp-title  a{
    color: #888;
    text-decoration: none;
}

.pp-content, .pp-content-short  {
    width: 100%;
    line-height: normal;
    font-size: 13px;
    overflow: hidden;     /* works like clear */
}

.pp-content .pp-image {
    float: left;
    width: 164px;
    margin: 0 25px 5px 0;
}

.pp-content .pp-image img {
    width: 164px;
}

div.pp-bottom-bar {
    height: 19px;      
    margin: 11px 0 0;
    line-height: 19px;
    font-size: 11px;
}

div.pp-tags {
    float: left;
    height: 19px;
    background: url(../images/tag-icon.png) no-repeat;
    background-size: auto 19px;
}

div.pp-tags a, .short-blog-tag {
    color: #aaa;
    text-decoration: none;
    margin-left: 28px;   
}   

.short-blog-tag {
    background: #FFD2BF;
}

div.pp-comments {
    float:right;        
}

div.pp-comments a{
    display: block;  /* if not display as block, setting height doesn't work. */
    height: 19px;
    width: 38px;
    text-decoration: none;
    text-align: right;
    color: #aaa;
    margin-right: 24px;
    background: url(../images/comment-icon.png) no-repeat;
    background-size: auto 19px;
}

div#right-col {
    float: right;
    width: 230px;
}

#right-col div {
  background: rgb(241, 241, 241);
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
  margin-bottom: 8px;
}

div#self-intro {
    padding: 8px 8px 8px 8px;
}

div#db-fm {

}

div#self-intro img{
    float: left;
    width: 68px;
}

div#self-intro p {
    color: rgb(68, 68, 68);
    text-align: center;
}

div#self-intro p#words {
    font-size: 12px;
    font-weight: 800;
}

div#self-intro p#mail {
    font-size: 11px;
    font-style: italic;
}


div.pagination .previous{
    float: left;
}

div.pagination .next{
    float: right;
}
