div#css-namespace-post {
    text-align: left;
    width: 928px;
    margin: 0 auto;
    font-size:13px;
}

div#css-namespace-post img{
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#dummy-left-col {
    float: left;
    width: 724px;
}

div#dummy-left-col-placeholder {
    float: left;
    width: 45px;
}

div#post-comment-wrapper {
    float: right;
    width: 618px;
}

div#post {
    padding: 12px;
    background: #fff;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px; 
    font-size: 14px;
}

div#disqus_thread {
    padding: 12px;
    background: #fff;
    margin-top: 24px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px; 
}

div#post #title{
    margin-bottom: 38px;
}

div#post h1 {
    text-align: center;
    font-size: 1.5em;
}

div#post div#title h2 {
    text-align: right;
    font-size: 1.1em;
    font-style: italic;
    font-weight: 800;
}

div#post #content p{
    margin-bottom: 24px;
}

div#pub-date span{
    //float: right;
    //text-align: right;
    font-style: italic;
}
/*
 * BEGIN:
 * Github Markdown CSS - for Markdown Editor Preview
 * https://gist.github.com/andyferra/2554919
 * TODO:
 * github has Syntax highlighting ? how to make it? https://help.github.com/articles/github-flavored-markdown
 */

code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; 
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;}
 
pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }
 
.highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
 
pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
  
pre code, pre tt {
    background-color: transparent;
    border: none; }
    
/*
 * END
 */
 
 
 /* http://css-tricks.com/examples/Blockquotes/ */
blockquote {
  font: 12px/18px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}
