div#css-namespace-post {
    text-align: left;
    width: 928px;
    margin: 0 auto;
    font-size:13px;
}

div#css-namespace-post img{
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#dummy-left-col {
    float: left;
    width: 674px;
}

div#dummy-left-col-placeholder {
    float: left;
    width: 45px;
}

div#post-comment-wrapper {
    float: right;
    width: 618px;
}

div#post {
    padding: 12px;
    background: #fff;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px; 
}

div#disqus_thread {
    padding: 12px;
    background: #fff;
    margin-top: 24px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px; 
}

div#post #title{
    margin-bottom: 38px;
}

div#post h1 {
    text-align: center;
    font-size: 1.5em;
}

div#post h2 {
    text-align: right;
    font-size: 1.1em;
    font-style: italic;
    font-weight: 800;
}

div#post #content p{
    margin-bottom: 24px;
}


