---
layout: default
title: Reading List
---

<div id="main-content">
<div id="left-col">
{% for page in site.pages %}
    {% if page.page_type != "reading-list" %}
        {% continue %}
    {% endif %}
    <div class="readling-list">
        <div class="rl-main">
        <div class="rl-main-wrapper">
            <div class="rl-title">
                <a href="{{ page.source }}" target="_blank">{{ page.title }}</a>
            </div>
            <div class="rl-bottom-bar">
                <div class="rl-tags">
                    {% for tag in page.tags %}
                    <a title="{{ tag }}" href="/tags/reading-list-tags.html#{{ tag }}">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div> 
        </div> 
    </div> <!-- readling-list -->
{% endfor %}
</div> <!-- left-col -->

<div id="right-col">
    <div id="self-intro">
    <p id="words"> Learn by Making Notes. <br> Share by Posting Notes.</p>
    <p id="mail">hongs.blog.contact<br>{AT}gmail.com</p> 
    </div>
</div>
</div> <!-- main-content -->

