---
layout: default
title: Reading List
---

<div id="css-namespace-reading-list">

  <div id="right-col">
    <div id="self-intro">
      <p id="words"> Learn by Making Notes. <br> Share by Posting Notes.</p>
      <p id="mail">hongs.blog.contact<br>{AT}gmail.com</p> 
    </div>

    <div class="google-adsense">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- blog-right-col-ad -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-8182266446134074"
           data-ad-slot="2366507542"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

  </div>

  <div id="left-col">
    {% for page in site.pages reversed %}
      {% if page.page_type != "reading-list" %}
        {% continue %}
      {% endif %}
      <div class="readling-list">
        <div class="rl-title">
          <a href="{{ page.source }}" target="_blank">{{ page.title }}</a>
        </div>
        <div class="rl-bottom-bar">
          <div class="rl-tags">
            <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
            {% for tag in page.tags %}
              <a title="{{ tag }}" href="/tags/reading-list-tags.html#{{ tag }}">{{ tag }}</a>
            {% endfor %}
          </div>
          {% if page.has_self_comment %}
          <span class="caret"></span>
          {% endif %}
        </div>
        {% if page.has_self_comment %}
          <div class="rl-self-comment" style="display: none;">
            <p>{{ page.content }}</p>
          </div>
        {% endif %}
        <div class="padding"></div>
      </div> <!-- readling-list -->
    {% endfor %}
  </div> <!-- left-col -->

</div> <!-- main-content -->

<script>
$(".readling-list").hover(
  function() {
    $(this).find('.rl-self-comment').fadeIn( 500 );
  }, function() {
    $(this).find('.rl-self-comment').fadeOut(500);
  }
);
</script>

