/*
 * color:
 * http://getbootstrap.com/css/#less-variables-colors
 * http://getbootstrap.com/components/#available-variations
 * http://www.dtelepathy.com/blog/inspiration/beautiful-color-palettes-for-your-next-web-project
*/

div.big-bg {
    padding: 0;
}

.map-link {
  background-color: #f2dede; 
  /* #d9534f #f2dede */
  font-size: 18px;
  height: 30px;
}

.map-link a {
  text-decoration: none;
}

.wrapper {
  display: inline-block;
}

.mg0 {
  margin: 0;
}