---
layout: default
title: Reading List Tags
---

<div id="main-content-tags">
<div id="left-col-tags">
<div id="all-tags">
  <div id="all-tags-content">
    <h2>归类.Tags</h2>
    {% assign all_tags_str = ' ' | split: ';' %}
    {% for page in site.pages %}
        {% if page.page_type != "reading-list" %}
            {% continue %}
        {% endif %}
        <!-- it seems 'uniq' filter does not work, so use below code instead -->
        {% for ptag in page.tags %}
            {% unless all_tags_str contains ptag %}
                {% capture all_tags_str %}{{all_tags_str}};{{ptag}}{% endcapture %}
            {% endunless %}
        {% endfor %}
    {% endfor %}

    {% assign all_tags =  all_tags_str | split: ';' %}
    {% for tag in all_tags %}
        <h3><a name="{{ tag }}"></a>{{ tag }} </h3>
            <ul>
            {% for page in site.pages %}
                {% if page.page_type != "reading-list" %}
                    {% continue %}
                {% endif %}
                
                {% for ptag in page.tags %}
                    {% if ptag == tag %}
                        <li>
                          <a href="{{ page.source }}">{{ page.title }}</a>
                        </li> 
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </ul>
    {% endfor %}
    </div> <!-- all-tags-content -->
</div> <!-- all-tags -->
</div> <!-- left-col -->

<div id="right-col">
    <div id="self-intro">
    <p id="words"> Learn by Making Notes. <br> Share by Posting Notes.</p>
    <p id="mail">hongs.blog.contact<br>{AT}gmail.com</p> 
    </div>
</div>


</div> <!-- main-content -->
