<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN" xml:lang="zh-CN">
<head>
    <title>Hong's Blog</title>
    <meta name="description" content="Hong的个人（技术）博客/Hong's personal (tech) blog" />
    <meta name="keywords" content="TODO: keywords of blog topics" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../css/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../css/index.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../css/post.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../css/tags.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../css/prism.css" />
    
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    
    <!-- Google Analytics BEG-->
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39298232-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <!-- Google Analytics END-->
</head>


<body>

<!-- it works fine to put it here, do not know why -->
<script type="text/javascript" src="http://www.qq.com/404/search_children.js" charset="utf-8"></script>

<div id="header">
    <p id="site-title">Hong's Blog</p>
    <p id="site-subtitle">Be Agile. Be Smart. Be Visionary. Be Dedicated.</p>
    <div id="nav-search">
    <ul id="nav">
        <li><a href="/index.html">Blog</a></li>
        <li><a href="/about.html">About</a></li>
    </ul>
    <!-- TODO search box -->
    </div> 
</div> 

<!-- For Comment Count BEG-->
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'hongsblog'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
<!-- For Comment Count END-->
   
<script src="../script/prism.js"></script>
</body>

</html>
