<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN" xml:lang="zh-CN">
<head>
    <title>title, todo</title>
    <meta name="description" content="a b c todo">
    <meta name="keywords" content="xxx yyy todo">
</head>

<body>
<div id="header">
    <h1> blog name todo</h1>
    <p> sub title...todo</p>
    <ul id="nav-bar">
        <li><a href="index.html">Blog</a></li>
        <li><a href="about.html">About</a></li>
    </ul>
</div> <!-- header -->

    {{ content }}

<div id="footer">
    <p> this is footer... todo </p>
</div> <!-- footer -->
</body>

</html>